pip install cs50
pip install flask
pip install flask_session
pip install werkzeug.security
pip install markupsafe
pip install re
pip install subprocess
pip install json
pip install random
pip install string
